@font-face {
    font-family: 'Spooky';
    src: url('../fonts/SpookyRegular.ttf');
}

@font-face {
    font-family: 'Jinkeez';
    src: url('../fonts/Jinkeez.ttf');
}

@font-face {
    font-family: '1722';
    src: url('../fonts/1722Regular.ttf');
}

@font-face {
    font-family: 'Taurunum';
    src: url('../fonts/Taurunum.ttf');
}

/**************************************/
/************ General CSS *************/
/**************************************/
body {
    color: #555555;
    font-family: 'Times New Roman', sans-serif;
    background: ;
}

a {
    color: #F57200;
    transition: 0.3s;
}

a:hover,
a:active,
a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
}

p {
    color: #555555;
    font-weight: 400;
    padding: 0;
    margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jinkeez', monospace;
    font-weight: 700;
    color: #666666;
    margin: 0 0 15px 0;
    padding: 0;
}

h4,
h5,
h6 {
    font-weight: 400;
}

img {
    border-radius: 4px;
}

/**************************************/
/********** Back to Top CSS ***********/
/**************************************/
.back-to-top {
    position: fixed;
    display: none;
    background: #111111;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 35px;
    right: 15px;
    bottom: 15px;
    border-radius: 4px;
    transition: all 0.3s;
    z-index: 9;
}

.back-to-top i {
    color: #F57200;
}

.back-to-top:hover {
    background: #F57200;
}

.back-to-top:hover i {
    color: #ffffff;
}


/**************************************/
/************** Nav CSS ***************/
/**************************************/
#nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    background: transparent;
    border-bottom: 1px solid #F57200;
    transition: all .3s;
    z-index: 999;
}

#nav.nav-sticky {
    height: inherit;
    padding: 0;
    background: #201c1d;
    transition: all .3s;
    border-bottom: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

#nav .navbar {
    transition: all .3s;
    background: transparent !important;
}

#nav.nav-sticky .navbar {
    transition: all .3s;
    background: #201c1d !important;
}

#nav .navbar-brand {
    font-size: 35px;
    font-weight: 700;
    line-height: 0;
    font-family: 'Inconsolata', monospace;
}

#nav .nav-link,
#nav .nav-link:focus,
#nav .nav-link:hover,
#nav .nav-link.active {
    color: #ffffff;
}

#nav.nav-sticky .nav-link,
#nav.nav-sticky .nav-link:focus,
#nav.nav-sticky .nav-link:hover,
#nav.nav-sticky .nav-link.active {
    color: #fff;
}

#nav .nav-link:hover,
#nav .nav-link.active {
    color: #F57200;
}

#nav.nav-sticky .nav-link:hover,
#nav.nav-sticky .nav-link.active {
    color: #F57200;
}

#nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (max-width: 768px) {
    #nav,
    #nav .container,
    #nav .navbar {
        background: #ffffff !important;
    }
    
    #nav .nav-link,
    #nav .nav-link:focus,
    #nav .nav-link:hover,
    #nav .nav-link.active {
        color: #666666;
    }
    
    #nav .nav-link:hover,
    #nav .nav-link.active {
        color: #4F84C4;
    }
}

/**************************************/
/************* Header CSS *************/
/**************************************/
.header {
    position: relative;
    padding: 180px 0 100px 0;
    text-align: center;
    background: #201c1d;
    background-size: cover;
    display: flex;
}

.header .tipoff {
    font-size: 80px;
}

.header img {
    width: 500px;
}

.header h1 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 45px;
}

.header h1 .text {
    color: #F57200;
}

.header h1::after {
    position: absolute;
    content: "";
    width: 90%;
    height: 1px;
    left: 5%;
    bottom: 0;
    background: #F57200;
}

.header p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.btn {
    padding: 15px 35px;
    color: #F57200;
    font-size: 22px;
    font-weight: 500;
    background: #ffffff;
}

.btn:hover {
    background: #111111;
}

.btn i {
    margin-right: 5px;
}

@media(max-width: 767.98px) {
    .header h1 {
        font-size: 60px;
    }
    
    .header p {
        font-size: 25px;
    }
}

@media(max-width: 575.98px) {
    .header h1 {
        font-size: 40px;
    }
    
    .header p {
        font-size: 20px;
    }
}

.about .container,
.team .container,
.portfolio .container,
.service .container,
#nav .container {
    border-bottom: solid;
    border-color: white;
}

/**************************************/
/******** Section Header CSS **********/
/**************************************/
.section-header {
    position: relative;
    max-width: 700px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.section-header h4 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.section-header h2 {
    display: inline-block;
    color: #F57200;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.section-header h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    left: calc(50% - 30px);
    bottom: 0;
    background: #fff;
}

@media(max-width: 767.98px) {
    .section-header h4 {
        font-size: 17px;
    }
    
    .section-header h2 {
        font-size: 40px;
    }
}

@media(max-width: 575.98px) {
    .section-header h4 {
        font-size: 16px;
    }
    
    .section-header h2 {
        font-size: 35px;
    }
}

.team .img-fluid {
    max-width: initial !important;
    height: 200px;
}

/**************************************/
/************* About CSS **************/
/**************************************/
.about {
    position: relative;
    /* padding: 100px 0; */
    background: #1E2D2F;
}

.about .about-img {
    position: relative;
    overflow: hidden;
}

.about .about-img img {
    width: 700px;
}

.about .about-content {
    position: relative;
    width: 100%;
    text-align: center;
}

.about .about-content:first-child {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.about .about-content h3 {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: white;
}

.about .about-content h6 {
    color: #F57200;
}

.about .about-content p {
    position: relative;
    font-size: 18px;
    color:white;
}

.about .btn {
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #F57200;
}

.about .btn:hover {
    color: #F57200;
    background: #111111;
}

@media(max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
    }
}

/**************************************/
/*************** Team CSS *************/
/**************************************/
.team {
    position: relative;
    padding: 50px 0 70px 0;
    background: #1E2D2F;
}

.team .team-item {
    margin-bottom: 30px;
    overflow: hidden;
    display: block;  
    /* margin-left: auto;  
    margin-right: auto;   */
    text-align: center;
}

.team .team-item .team-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    text-align: center;
}

.team .team-item .team-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:transparent;
    transition: 0.3s;
    opacity: 0;
}

.team .team-item .team-link a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 2px -100px 2px;
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    background: #ffffff;
    border-radius: 4px;
}


.team .team-item .team-img:hover{
    opacity: 0.5;
    transition: 0.3s;
}  

.team .team-item:hover .team-link {
    opacity: 1;
}

.team .team-item:hover .team-link a {
    margin: 0 2px;
}

.team .team-item .team-link a:hover {
    color: #ffffff;
    background: #111111;
}

.team .team-item .team-info {
    position: relative;
    width: 100%;
    padding-top: 15px;
}


.team .team-item .team-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color:white;
}

.team .team-item .team-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #F57200;
}



/**************************************/
/************ Services CSS ************/
/**************************************/
.service {
    position: relative;
    padding: 50px 0 40px 0;
    background: #1E2D2F;
}

.service .row {
    margin-bottom: 60px;
}

.service .service-img {
    position: relative;
    overflow: hidden;
}

.service .service-img img {
    width: 100%;
}

.service .service-detail h3 {
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #FFF;
}

.list-group {
    color: white;
}

.list-group-item {
    background-color: rgba(62, 163, 100, 0.8);
}

.service .service-detail h3 i {
    margin-right: 20px;
}

@media(max-width: 767.98px) {
    .service .service-img {
        margin-bottom: 30px;
    }
}


/**************************************/
/************ Portfolio CSS ***********/
/**************************************/
.portfolio {
    position: relative;
    /* padding: 50px 0 70px 0; */
    background: #1E2D2F;
}


.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.portfolio-img:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-link {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}

.portfolio .portfolio-item .portfolio-link a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px -100px 5px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    opacity:0.2;
    filter:alpha(opacity=20); 
    background: #ffffff;
    border-radius: 4px;
}
 

.portfolio .portfolio-item:hover .portfolio-link {
    opacity: 1;
}

.portfolio .portfolio-item:hover .portfolio-link a {
    margin: 0 5px;
}

.portfolio .portfolio-item .portfolio-link a:hover {
    color: #ffffff;
    background: #111111;
}

.portfolio .portfolio-item .portfolio-info {
    position: relative;
    width: 100%;
    padding-top: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.portfolio .portfolio-item .portfolio-info p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
}

.btn {
    margin-bottom: 30px;
    padding: 10px 30px;
    color: #ffffff;
    background: #F57200;
    border: none;
}

.btn:hover {
    color: #F57200;
    background: #111111;
}

/**************************************/
/************* Footer CSS *************/
/**************************************/
.footer {
    position: relative;
    background: #201c1d;
}

.footer .footer-top {
    padding: 60px 0;
    border-bottom: 1px solid #ff9085;
}

.footer .footer-top h2 {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.footer .footer-top h2::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 1px;
    left: 0;
    bottom: 0;
    background: #ff9085;
}

.footer .contact-info h4 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 0;
}

.footer .contact-info p {
    color: #ffffff;
    font-size: 16px;
}

.footer .contact-info p:last-child {
    margin-bottom: 0;
}

.footer .social-links a {
    display: inline-block;
    width: 45px;
    height: 45px;
    font-size: 22px;
    line-height: 1;
    padding: 11px 0;
    margin-right: 4px;
    text-align: center;
    background: #ffffff;
    color: #FF6F61;
    border-radius: 4px;
    transition: 0.3s;
}

.footer .social-links a:hover {
    background: #111111;
    color: #FF6F61;
}

.footer .subscribe {
    position: relative;
    width: 100%;
    color: white;
}

.footer .subscribe li {
    list-style-type: none;
}

.footer .footer-bottom {
    padding: 30px 0;
}

.footer .copyright {
    color: #ffffff;
    text-align: left;
}

.footer .credit {
    color: #ffffff;
    text-align: right;
}

.footer .copyright a,
.footer .credit a {
    color: white;
    font-weight: 600;
}

.footer .copyright a:hover,
.footer .credit a:hover {
    color: #F57200;
}

@media (max-width: 768px) {
    .footer .contact-info,
    .footer .social-links {
        margin-bottom: 30px;
    }
    
    .footer .copyright,
    .footer .credit {
        text-align: center;
    }
}